{% extends "base.html" %}
{% block content %}
<section>
    <h2>Reservas</h2>
    <ul>
        {% for reserva in reservas %}
        <li>{{ reserva.nome_hospede }} - Entrada: {{ reserva.entrada }} | Saída: {{ reserva.saida }}</li>
        {% endfor %}
    </ul>
</section>

<section>
    <h2>Adicionar Nova Reserva</h2>
    <form method="post" action="/reservas">
        <label for="nome_hospede">Nome do Hóspede:</label>
        <input type="text" name="nome_hospede" required>
        <label for="entrada">Data de Entrada:</label>
        <input type="date" name="entrada" required>
        <label for="saida">Data de Saída:</label>
        <input type="date" name="saida" required>
        <label for="imovel_id">ID do Imóvel:</label>
        <input type="number" name="imovel_id" required>
        <label for="nome_parceiro">Nome do Parceiro:</label>
        <input type="text" name="nome_parceiro" required>
        <button type="submit">Adicionar</button>
    </form>
</section>
{% endblock %}
